# ML model for predicting crime based place (failed NN attempt)

In [2]:
import numpy as np
import seaborn as sb
import pandas as pd
from pathlib import Path
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier


seed = np.random.seed(5)

In [6]:
# construct dataset

# Loads the criminal logs into a pandas dataframe
# You will probably need to manipulate the dataframe to get something good from it :D
criminalLogsPath = Path.cwd().parent/'public'/'actes-criminels.csv'
df = pd.read_csv(criminalLogsPath)
df

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN
4,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
247776,Méfait,2023-01-25,nuit,5.0,282322.244000,5.038093e+06,-73.787533,45.482397
247777,Vol de véhicule à moteur,2023-01-25,nuit,27.0,NaN,NaN,NaN,NaN
247778,Vol dans / sur véhicule à moteur,2023-01-25,nuit,7.0,287693.613000,5.040649e+06,-73.718913,45.505551
247779,Infractions entrainant la mort,2023-01-25,nuit,22.0,300219.661995,5.043573e+06,-73.558643,45.532059
247780,Vol dans / sur véhicule à moteur,2023-01-25,nuit,21.0,NaN,NaN,NaN,NaN

In [10]:
df_clean = df.dropna()
X = df_clean.loc[:,["PDQ", "DATE", "QUART", "LONGITUDE", "LATITUDE"]]
Y = df_clean.loc[:, ["CATEGORIE"]]
X

         PDQ        DATE QUART  LONGITUDE   LATITUDE
0       30.0  2018-09-13  jour -73.626778  45.567780
1       30.0  2018-04-30  jour -73.626778  45.567780
2        7.0  2018-09-01  nuit -73.685928  45.519122
6       38.0  2017-07-30  jour -73.591457  45.516776
8       39.0  2017-08-01  jour -73.635117  45.602873
...      ...         ...   ...        ...        ...
247774  31.0  2023-01-25  nuit -73.625616  45.528455
247775  39.0  2023-01-25  nuit -73.616734  45.617219
247776   5.0  2023-01-25  nuit -73.787533  45.482397
247778   7.0  2023-01-25  nuit -73.718913  45.505551
247779  22.0  2023-01-25  nuit -73.558643  45.532059

[205753 rows x 5 columns]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from datetime import datetime

# convert the Series to Unix timestamps
def timestamp_converter(x: str):
    return datetime.strptime(x, "%Y-%m-%d").timestamp()

encoder = LabelEncoder()
scaler = StandardScaler()

# convert str vars to numerical data in testing and training
X["DATE"] = X["DATE"].apply(timestamp_converter)
X["QUART"] = encoder.fit_transform(X["QUART"])

X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.40, random_state=seed
)

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)


# X_train = X_train[:, 1:]
# X_test = X_test[1:]
# y_train = y_train[1:]
# y_test = y_test[1:]

In [12]:
# X_train = X_train.values
# X_test = X_test.values
# y_test = y_test.values
# y_train = y_train.values

# y_test

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [13]:
classifier = MLPClassifier((100,50, 200, 20, 5),
                           solver='sgd',
                           alpha=0.02,
                           learning_rate='adaptive',
                           learning_rate_init=0.01,
                           batch_size=20000
                           )
classifier.fit(X_train, y_train)
train_results = classifier.predict(X_train)
test_results = classifier.predict(X_test)

print(test_results) 

train_acc = accuracy_score(y_train, train_results)
test_acc = accuracy_score(y_test, test_results)
print(train_acc, test_acc)

/Users/tyleryu/opt/anaconda3/envs/cs178/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:1118: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/tyleryu/opt/anaconda3/envs/cs178/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:709: UserWarning: Training interrupted by user.
  warnings.warn("Training interrupted by user.")

['Introduction' 'Introduction' 'Introduction' ... 'Introduction'
 'Introduction' 'Introduction']
0.2801759402515978 0.2796894364656995