# Detective monkeys

In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from pathlib import Path
import json

In [59]:
# Loads the geojson into a JSON object
geojsonPath = Path.cwd()/'limitespdq.geojson' # You might need to change this depending on where and how you are running this code
geojson = json.load(open(geojsonPath, "r")) # The GeoJSON data contains the boundaries of the different precincts.

# Loads the criminal logs into a pandas dataframe
# You will probably need to manipulate the dataframe to get something good from it :D
criminalLogsPath = Path.cwd()/'actes-criminels.csv'
df = pd.read_csv(criminalLogsPath)

In [60]:
df: pd.DataFrame = pd.read_csv('actes-criminels.csv')

In [61]:
df.head()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN
4,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN

In [62]:
# Summarize the data
df.describe()

,PDQ,X,Y,LONGITUDE,LATITUDE
count,247776.000000,205753.000000,2.057530e+05,205753.000000,205753.000000
mean,26.309610,295794.035138,5.043223e+06,-73.615263,45.528836
std,14.029531,6083.008112,6.068889e+03,0.077786,0.054660
min,1.000000,268109.610010,5.029291e+06,-73.968954,45.402691
25%,15.000000,293900.976994,5.039088e+06,-73.639550,45.491491
50%,26.000000,297338.250001,5.042868e+06,-73.595562,45.525665
75%,39.000000,299665.903993,5.047185e+06,-73.565752,45.564512
max,55.000000,306389.863000,5.062496e+06,-73.479583,45.702351

In [63]:

# What is the most common crime?
df['CATEGORIE'].value_counts()

CATEGORIE
Vol dans / sur véhicule à moteur    73160
Introduction                        61668
Méfait                              54323
Vol de véhicule à moteur            44244
Vols qualifiés                      14156
Infractions entrainant la mort        230
Name: count, dtype: int64

In [64]:


#clean data
crime_freq = df.dropna(subset=['PDQ'])

#crime freq
crime_freq = crime_freq.groupby('PDQ').agg({'CATEGORIE': 'count'}).sort_values(by='CATEGORIE',ascending=False)
crime_freq = crime_freq.rename(columns={'CATEGORIE': 'crime_count'})

# joining to main table
combined_table = pd.merge(df, crime_freq, on="PDQ", how='inner')
crime_combined_table = combined_table.drop_duplicates(subset=['PDQ']).sort_values(by='PDQ', ascending=False)

crime_combined_table

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE,crime_count
245656,Vol de véhicule à moteur,2017-10-11,soir,55.0,285459.663000,5.035175e+06,-73.747285,45.456239,92
245748,Vols qualifiés,2015-05-24,soir,50.0,302277.936001,5.041476e+06,-73.532280,45.513197,2028
167519,Vol dans / sur véhicule à moteur,2018-05-15,jour,49.0,305817.012000,5.061471e+06,-73.486942,45.693121,6427
89104,Introduction,2017-08-04,jour,48.0,302206.204009,5.050672e+06,-73.533246,45.595949,11958
183309,Vol de véhicule à moteur,2018-02-03,nuit,46.0,300206.969004,5.052306e+06,-73.558887,45.610645,5779
150044,Vol dans / sur véhicule à moteur,2017-08-03,jour,45.0,296483.624000,5.055234e+06,-73.606674,45.636951,5310
120322,Vol dans / sur véhicule à moteur,2017-09-14,jour,44.0,299537.390996,5.048547e+06,-73.567431,45.576815,9995
173946,Vol dans / sur véhicule à moteur,2018-02-02,soir,42.0,298486.799994,5.048363e+06,-73.580891,45.575146,9363
55647,Vol dans / sur véhicule à moteur,2017-08-01,jour,39.0,294259.780993,5.051450e+06,-73.635117,45.602873,11304
38151,Méfait,2017-07-30,jour,38.0,297654.715002,5.041877e+06,-73.591457,45.516776,17496
112402,Introduction,2017-09-10,soir,35.0,297269.069000,5.044289e+06,-73.596430,45.538473,7920
139400,Méfait,2016-07-30,soir,33.0,295536.084991,5.043175e+06,-73.618600,45.528427,2952
73968,Vol dans / sur véhicule à moteur,2017-08-02,soir,31.0,NaN,NaN,NaN,NaN,7572
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780,7203
130317,Vol de véhicule à moteur,2017-09-15,nuit,27.0,292211.629998,5.046759e+06,-73.661252,45.560631,9083
228671,Vol de véhicule à moteur,2017-04-06,nuit,26.0,NaN,NaN,NaN,NaN,10663
164987,Introduction,2018-06-18,jour,24.0,295435.804000,5.041998e+06,-73.619861,45.517839,2532
155354,Introduction,2017-08-25,soir,23.0,301167.086997,5.044718e+06,-73.546521,45.542364,9633
81540,Introduction,2017-08-03,jour,22.0,300495.602994,5.042438e+06,-73.555100,45.521848,7564
18453,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN,14549
214866,Vol dans / sur véhicule à moteur,2016-06-16,soir,20.0,NaN,NaN,NaN,NaN,13805
106352,Introduction,2017-08-25,soir,16.0,301261.624000,5.036461e+06,-73.545251,45.468067,6050
205455,Méfait,2016-05-19,soir,15.0,NaN,NaN,NaN,NaN,9411
239334,Introduction,2018-07-05,soir,13.0,293717.947000,5.032865e+06,-73.641643,45.435630,6322
33002,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN,5149
196465,Méfait,2016-04-01,jour,11.0,294581.145005,5.036889e+06,-73.630694,45.471853,3890
200355,Introduction,2016-04-02,jour,10.0,289187.443990,5.043659e+06,-73.699892,45.532672,5100
142352,Vol de véhicule à moteur,2018-12-31,nuit,9.0,291612.374992,5.035291e+06,-73.668620,45.457424,4529
101062,Méfait,2018-10-16,jour,8.0,292010.969000,5.032898e+06,-73.663461,45.435898,5290
7203,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122,11250
66951,Vol de véhicule à moteur,2017-08-01,jour,5.0,285957.555992,5.033791e+06,-73.740866,45.443794,7017
146881,Introduction,2018-08-17,soir,4.0,280815.902485,5.039046e+06,-73.806848,45.490925,3163
191938,Méfait,2017-08-16,jour,3.0,277733.688003,5.038854e+06,-73.846270,45.489081,4527
189088,Méfait,2017-09-09,soir,1.0,276530.594007,5.034619e+06,-73.861418,45.450930,2850

In [65]:
## crime freq heat map code 

fig = px.choropleth_mapbox(combined_table, geojson=geojson, 
                           color = "crime_count", # Might need to change depending on what you want to measure
                           locations="PDQ", featureidkey="properties.PDQ",
                           center={'lat': 45.508888, 'lon': -73.561668}, # Can change the coordinates to make city more centered
                           mapbox_style="carto-positron", # Another option is called "open-street-map" :o
                           zoom=9
                           )

# .update_layout() updates the layout of the figure (includes all non-date components of the visualization)
# We are just setting the plot to take up the entire avaliable space, with no padding or spacing around the edges.
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Let's see our graph in action!
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
# Top 3 police precints (PDQ) got that most or least  crime complaints
# Group by PDQ and count the number of crimes and sort by count and list the time range of the crimes
df.groupby('PDQ')['DATE'].agg(['count', 'min', 'max']).sort_values(by='count', ascending=False)

      count         min         max
PDQ
38.0  17496  2015-01-01  2023-03-09
21.0  14549  2015-01-01  2023-03-09
20.0  13805  2015-01-01  2023-03-09
48.0  11958  2015-01-01  2023-03-09
39.0  11304  2015-01-01  2023-03-09
7.0   11250  2015-01-02  2023-03-09
26.0  10663  2015-01-01  2023-03-09
44.0   9995  2015-01-01  2023-03-09
23.0   9633  2015-01-01  2023-03-09
15.0   9411  2015-01-01  2023-03-09
42.0   9363  2015-01-01  2023-03-09
27.0   9083  2015-01-01  2023-03-09
35.0   7920  2015-01-01  2023-03-09
31.0   7572  2015-01-01  2023-03-08
22.0   7564  2015-01-01  2023-03-09
30.0   7203  2015-01-01  2023-03-09
5.0    7017  2015-01-01  2023-03-09
49.0   6427  2015-01-01  2023-03-09
13.0   6322  2015-01-01  2023-03-08
16.0   6050  2015-01-01  2023-03-09
46.0   5779  2015-01-01  2023-03-08
45.0   5310  2015-01-01  2023-03-09
8.0    5290  2015-01-01  2023-03-09
12.0   5149  2015-01-01  2023-03-09
10.0   5100  2015-01-02  2023-03-08
9.0    4529  2015-01-02  2023-03-09
3.0    4527  2015-01-01  2023-03-08
11.0   3890  2015-01-02  2019-12-27
4.0    3163  2015-01-02  2023-03-09
33.0   2952  2015-01-03  2021-12-29
1.0    2850  2015-01-01  2023-03-08
24.0   2532  2015-01-01  2018-12-31
50.0   2028  2015-01-01  2023-03-08
55.0     92  2015-01-02  2023-02-22

In [ ]:
#

PDQ   CATEGORIE
1.0   Introduction                         857
3.0   Introduction                        1362
4.0   Vol dans / sur véhicule à moteur     980
5.0   Vol dans / sur véhicule à moteur    2098
7.0   Vol de véhicule à moteur            3534
8.0   Introduction                        1468
9.0   Vol dans / sur véhicule à moteur    1172
10.0  Vol dans / sur véhicule à moteur    1508
11.0  Méfait                              1285
12.0  Vol dans / sur véhicule à moteur    1579
13.0  Méfait                              1682
15.0  Introduction                        2822
16.0  Introduction                        1824
20.0  Vol dans / sur véhicule à moteur    7689
21.0  Vol dans / sur véhicule à moteur    6932
22.0  Introduction                        2449
23.0  Introduction                        3236
24.0  Introduction                         893
26.0  Introduction                        2949
27.0  Vol dans / sur véhicule à moteur    2443
30.0  Vol dans / sur véhicule à moteur    2146
31.0  Vol dans / sur véhicule à moteur    2159
33.0  Vol dans / sur véhicule à moteur     900
35.0  Introduction                        2597
38.0  Introduction                        6474
39.0  Vol de véhicule à moteur            3012
42.0  Vol dans / sur véhicule à moteur    2962
44.0  Introduction                        2892
45.0  Vol de véhicule à moteur            1703
46.0  Vol dans / sur véhicule à moteur    1973
48.0  Vol dans / sur véhicule à moteur    3175
49.0  Vol dans / sur véhicule à moteur    1716
50.0  Méfait                              1552
55.0  Méfait                                32
Name: CATEGORIE, dtype: int64