# Detective monkeys

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

In [10]:
df: pd.DataFrame = pd.read_csv('actes-criminels.csv')

In [11]:
df.head()

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.626778,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.685928,45.519122
3,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN
4,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN

In [12]:
# Summarize the data
df.describe()

,PDQ,X,Y,LONGITUDE,LATITUDE
count,247776.000000,205753.000000,2.057530e+05,205753.000000,205753.000000
mean,26.309610,295794.035138,5.043223e+06,-73.615263,45.528836
std,14.029531,6083.008112,6.068889e+03,0.077786,0.054660
min,1.000000,268109.610010,5.029291e+06,-73.968954,45.402691
25%,15.000000,293900.976994,5.039088e+06,-73.639550,45.491491
50%,26.000000,297338.250001,5.042868e+06,-73.595562,45.525665
75%,39.000000,299665.903993,5.047185e+06,-73.565752,45.564512
max,55.000000,306389.863000,5.062496e+06,-73.479583,45.702351

In [13]:

# What is the most common crime?
df['CATEGORIE'].value_counts()

Vol dans / sur véhicule à moteur    73160
Introduction                        61668
Méfait                              54323
Vol de véhicule à moteur            44244
Vols qualifiés                      14156
Infractions entrainant la mort        230
Name: CATEGORIE, dtype: int64

In [14]:
# Top 3 police precints (PDQ) got that most or least  crime complaints

# Group by PDQ and count the number of crimes and sort by count
df.groupby('PDQ')['CATEGORIE'].count().sort_values(ascending=False)

PDQ
38.0    17496
21.0    14549
20.0    13805
48.0    11958
39.0    11304
7.0     11250
26.0    10663
44.0     9995
23.0     9633
15.0     9411
42.0     9363
27.0     9083
35.0     7920
31.0     7572
22.0     7564
30.0     7203
5.0      7017
49.0     6427
13.0     6322
16.0     6050
46.0     5779
45.0     5310
8.0      5290
12.0     5149
10.0     5100
9.0      4529
3.0      4527
11.0     3890
4.0      3163
33.0     2952
1.0      2850
24.0     2532
50.0     2028
55.0       92
Name: CATEGORIE, dtype: int64

In [15]:
# Top 3 police precints (PDQ) got that most or least  crime complaints
# Group by PDQ and count the number of crimes and sort by count and list the time range of the crimes
df.groupby('PDQ')['DATE'].agg(['count', 'min', 'max']).sort_values(by='count', ascending=False)

      count         min         max
PDQ
38.0  17496  2015-01-01  2023-03-09
21.0  14549  2015-01-01  2023-03-09
20.0  13805  2015-01-01  2023-03-09
48.0  11958  2015-01-01  2023-03-09
39.0  11304  2015-01-01  2023-03-09
7.0   11250  2015-01-02  2023-03-09
26.0  10663  2015-01-01  2023-03-09
44.0   9995  2015-01-01  2023-03-09
23.0   9633  2015-01-01  2023-03-09
15.0   9411  2015-01-01  2023-03-09
42.0   9363  2015-01-01  2023-03-09
27.0   9083  2015-01-01  2023-03-09
35.0   7920  2015-01-01  2023-03-09
31.0   7572  2015-01-01  2023-03-08
22.0   7564  2015-01-01  2023-03-09
30.0   7203  2015-01-01  2023-03-09
5.0    7017  2015-01-01  2023-03-09
49.0   6427  2015-01-01  2023-03-09
13.0   6322  2015-01-01  2023-03-08
16.0   6050  2015-01-01  2023-03-09
46.0   5779  2015-01-01  2023-03-08
45.0   5310  2015-01-01  2023-03-09
8.0    5290  2015-01-01  2023-03-09
12.0   5149  2015-01-01  2023-03-09
10.0   5100  2015-01-02  2023-03-08
9.0    4529  2015-01-02  2023-03-09
3.0    4527  2015-01-01  2023-03-08
11.0   3890  2015-01-02  2019-12-27
4.0    3163  2015-01-02  2023-03-09
33.0   2952  2015-01-03  2021-12-29
1.0    2850  2015-01-01  2023-03-08
24.0   2532  2015-01-01  2018-12-31
50.0   2028  2015-01-01  2023-03-08
55.0     92  2015-01-02  2023-02-22

In [16]:
#

PDQ   CATEGORIE
1.0   Introduction                         857
3.0   Introduction                        1362
4.0   Vol dans / sur véhicule à moteur     980
5.0   Vol dans / sur véhicule à moteur    2098
7.0   Vol de véhicule à moteur            3534
8.0   Introduction                        1468
9.0   Vol dans / sur véhicule à moteur    1172
10.0  Vol dans / sur véhicule à moteur    1508
11.0  Méfait                              1285
12.0  Vol dans / sur véhicule à moteur    1579
13.0  Méfait                              1682
15.0  Introduction                        2822
16.0  Introduction                        1824
20.0  Vol dans / sur véhicule à moteur    7689
21.0  Vol dans / sur véhicule à moteur    6932
22.0  Introduction                        2449
23.0  Introduction                        3236
24.0  Introduction                         893
26.0  Introduction                        2949
27.0  Vol dans / sur véhicule à moteur    2443
30.0  Vol dans / sur véhicule à moteur    2146
31.0  Vol dans / sur véhicule à moteur    2159
33.0  Vol dans / sur véhicule à moteur     900
35.0  Introduction                        2597
38.0  Introduction                        6474
39.0  Vol de véhicule à moteur            3012
42.0  Vol dans / sur véhicule à moteur    2962
44.0  Introduction                        2892
45.0  Vol de véhicule à moteur            1703
46.0  Vol dans / sur véhicule à moteur    1973
48.0  Vol dans / sur véhicule à moteur    3175
49.0  Vol dans / sur véhicule à moteur    1716
50.0  Méfait                              1552
55.0  Méfait                                32
Name: CATEGORIE, dtype: int64