In [7]:
import pandas as pd
import numpy as np
import plotly.express as px
from pathlib import Path
import json

In [8]:
# Loads the criminal logs into a pandas dataframe
# You will probably need to manipulate the dataframe to get something good from it :D
criminalLogsPath = Path.cwd()/'actes-criminels.csv'
df = pd.read_csv(criminalLogsPath)

propertyPath = Path.cwd()/'prop_mtl.csv'
prop_df = pd.read_csv(propertyPath)

In [14]:
df

,CATEGORIE,DATE,QUART,PDQ,X,Y,LONGITUDE,LATITUDE
0,Vol de véhicule à moteur,2018-09-13,jour,30.0,294904.159001,5.047549e+06,-73.63,45.567780
1,Vol de véhicule à moteur,2018-04-30,jour,30.0,294904.159001,5.047549e+06,-73.63,45.567780
2,Vol de véhicule à moteur,2018-09-01,nuit,7.0,290274.565000,5.042150e+06,-73.69,45.519122
3,Méfait,2017-07-21,jour,21.0,NaN,NaN,NaN,NaN
4,Méfait,2017-07-29,jour,12.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
247776,Méfait,2023-01-25,nuit,5.0,282322.244000,5.038093e+06,-73.79,45.482397
247777,Vol de véhicule à moteur,2023-01-25,nuit,27.0,NaN,NaN,NaN,NaN
247778,Vol dans / sur véhicule à moteur,2023-01-25,nuit,7.0,287693.613000,5.040649e+06,-73.72,45.505551
247779,Infractions entrainant la mort,2023-01-25,nuit,22.0,300219.661995,5.043573e+06,-73.56,45.532059
247780,Vol dans / sur véhicule à moteur,2023-01-25,nuit,21.0,NaN,NaN,NaN,NaN

In [13]:
df['LONGITUDE'] = df["LONGITUDE"].round(2)
prop_df["longitud"] = prop_df["longitud"].round(2)

prop_df

        latitud  longitud    price  beds
0     45.403712    -73.94  4880000     5
1     45.403712    -73.94  3895000     5
2     45.403712    -73.94  1900000     4
3     45.403712    -73.94  1725000     4
4     45.403743    -73.95   800000     3
...         ...       ...      ...   ...
2991  45.699600    -73.48   294900     2
2992  45.699600    -73.48   284900     2
2993  45.699600    -73.48   138000     1
2994  45.699949    -73.48   639000     4
2995  45.699949    -73.48   589000     3

[2996 rows x 4 columns]